.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    width: 100%;
    height: 100%;
    color: #000000 !important;

    &__header {
        position: fixed;
        top: -10px;
        left: 3%;
        height: 100px;
        width: 91.5%;

        background-color: #F1F1F1;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        gap: 30px;

        h2, div, p, span {
            // background-color: transparent;
            color: #000000;
            text-align: start;
            font-weight: 400;
        }

        h2 {
            margin-top: 10px;
            font-size: 24px;
            font-weight: 500;
        }

        span {
            color: #fcfcfc;
            margin-left: 5px;
            background-color: #A9BABE;
            border-radius: 15px;
            padding: 5px 10px;
            box-shadow: inset 0 0 10px rgba(0,  0,  0,  0.5);
        }

        h3 {
            position: absolute;
            top: 30px;
            right: 20px;
            background-color: transparent;
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            
            &::after {
                content: url('./logout_icon.svg');
                margin-top: 5px;
            }
        }
    }
    
    
    &__body {
        height: 100%;
        // width: 500px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        // background-color: #D9D9D9;
        
        .messages {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;
            color: #000000 !important;
        }
        .send_message {
            display: flex;
            justify-content: space-around;
            gap: 10px;
            
            input {
                width: 80%;
                height: 40px;
                background-color: #F1F1F1;
                color: #000000;
                border: none;
                // border: 1px solid #a8aab9;
                border-radius: 5px;
                padding: 0 10px;
                font-size: 16px;
                font-weight: 400;
    
            }

            button {
                width: 200px;
                height: 40px;
                background-color: #242E3B;
                border: none;
                border-radius: 5px;
                padding: 0 10px;
                font-size: 16px;
                font-weight: 400;
                transition-duration: .5s;
                cursor: pointer;
                &:hover {
                    transition-duration: .5s;
                    border: 1px solid #a8aab9;
                    transform: scale(0.97);
                }
            }
        }
    }
}