.three__steps {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    .background {
        position: absolute;
        top: 100px;
        z-index: -2;
        width: 125%;
        // opacity: .6;
    }

    h1 {
        font-size: 80px;
        color: #DFE0E7;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 30px;
    }

    .step_one, .step_two, .step_three {
        position: relative; // Для анимации
        perspective:  1000px;
        width: 240px;
        height: 300px;

        &:hover {
            .step_one__front, .step_two__front, .step_three__front {
                transform: rotateY(180deg) scale(1.15);
                box-shadow:  0  0  25px rgba(255,  255,  255,  0.5); // Светлая тень при наведении
            }
            .step_one__back, .step_two__back, .step_three__back {
                transform: rotateY(0deg) scale(1.15);
                box-shadow:  0  0  25px rgba(255,  255,  255,  0.5); // Светлая тень при наведении
            }
        }
    }

    .step_one__front, .step_one__back,
    .step_two__front, .step_two__back,
    .step_three__front, .step_three__back {
        position: absolute;
        width:  100%;
        height:  100%;
        backface-visibility: hidden;
        transition: transform  0.8s;
        
        font-size: 18px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #232324;
        border: 1px solid #52535F;

        p {
            margin: 0 5px;
        }

        span {
            font-weight: 600;
        }
    }

    .step_one__back, .step_two__back, .step_three__back {
        transform: rotateY(180deg);
    }

    // _________________________ //
    .step_one {
        align-self: flex-start;
        margin-left: 150px;
        margin-top: 50px;
    }

    .step_two {
        align-self: center;
        margin-top: -100px;
    }

    .step_three {
        align-self: flex-end;
        margin-right: 150px;
        margin-top: -100px;
    }
}