.modal {
  position: fixed;
  z-index: 800;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #303134 !important;

  .add_room {
    position: relative;
    top: 100px;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    color: #303134 !important;
    border-radius: 25px;
    width: 900px;
    height: 620px;
    background-color: #d9d9d9;
    animation: fadeIn 0.3s ease-in-out;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    &__close_btn {
      position: absolute;
      top: 20px;
      right: -15px;
      display: flex;
      align-items: center;
      gap: 10px;
      border: none;
      font-size: 16px;
      font-weight: 400;
      color: #303134 !important;
      background-color: transparent;
      margin-right: 35px;
      cursor: pointer;

      &::after {
        content: url("./btn-x.svg");
      }
    }

    &__switch {
      display: flex;
      justify-content: flex-start;
      margin: 0 0 30px 30px;
      // margin-bottom: 30px;
      align-items: center;
      gap: 10px;
    }

    &__title {
      background-color: transparent;
      width: 800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 15px;
      margin: 30px;

      input {
        height: 45px;
        width: 500px;
        background-color: #a8aab9;
        color: #d9d9d9 !important;
        border: none;
        border-radius: 10px;
        padding: 0 15px;
        font-size: 20px;
        font-weight: 400;
      }
    }

    &__questions {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: start;
      // gap: 20px;
      // margin: 30px;
      // width: 940px;
      // background-color: #171717;
      // border-top: 2px solid #303134;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 15px;
        margin: 30px;
        background-color: #171717 !important;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-bottom: 10px;

      input {
        // margin-right: 10px;
        // height: 45px;
        // width: 780px;
        // background-color: #a8aab9;
        // border: none;
        // border-radius: 15px;
        // padding: 0 20px;
        // font-size: 20px;
        // font-weight: 400;
        margin-left: 10px;
        height: 40px;
        width: 690px;
        display: flex;
        align-items: center;
        background-color: #a8aab9;
        color: #d9d9d9 !important;
        border: none;
        border-radius: 10px;
        padding: 0 15px;
        font-size: 18px;
        font-weight: 400;
      }

      h2 {
        // margin-top: 20px;
        // margin-bottom: 10px;
        color: #d9d9d9;
        margin: 10px 0 20px 10px;
        font-size: 24px;
        font-weight: 400;
      }

      .qa {
        display: flex;
        gap: 10px;
        color: #d9d9d9;

        button {
          width: 70px;
          height: 50px;
          background-color: #424349;
          border-radius: 10px;
          border: 2px solid #dfe0e7;
          color: #d9d9d9;
          font-size: 20px;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          transition-duration: 0.5s;
          cursor: pointer;

          &:hover {
            background-color: #d9d9d9;
            color: #424349;
            transition-duration: 0.5s;
            border: 2px solid #424349;
          }
        }

        select {
          width: 90px;
          height: 40px;
          background-color: #424349 !important;
          border-radius: 25px;
          // border: 2px solid #dfe0e7;
          color: #d9d9d9;
          font-size: 18px;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          transition-duration: 0.5s;
          background: url("./select_arr.svg") no-repeat 10px center;
          padding-right: 20px;
          outline: none;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          padding-left: 35px;
        }
        // select {
        //   width: 100px;
        //   height: 45px;
        //   background-color: #424349 !important;
        //   border-radius: 15px;
        //   border: 2px solid #dfe0e7;
        //   color: #d9d9d9;
        //   font-size: 20px;
        //   font-family: "Montserrat", sans-serif;
        //   font-weight: 400;
        //   transition-duration: 0.5s;
        //   background: url("./select_arr.svg") no-repeat 10px center;
        //   padding-right: 20px;
        //   outline: none;
        //   appearance: none;
        //   -webkit-appearance: none;
        //   -moz-appearance: none;
        //   padding-left: 35px;
        // }
      }
    }

    &__btn {
      margin: 0 auto;
      margin-top: 10px;
      // width: 250px;
      width: 98%;
      height: 45px;
      // background-color: #424349;
      background-color: rgba(66,  67,  73,  0.25);
      border-radius: 10px;
      // border: 2px solid #dfe0e7;
      border: 2px solid #55565F;
      color: #d9d9d9;
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      transition-duration: 0.5s;
      cursor: pointer;

      &:hover {
        background-color: #d9d9d9;
        color: #424349;
        transition-duration: 0.5s;
        border: 2px solid #424349;
      }
    }

    form,
    div,
    label,
    span,
    p,
    select {
      background-color: transparent;
      color: #303134;
      font-weight: 500;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  // Corrected selectors according GPT
  input:checked ~ .slider {
    background-color: #6d843c;
  }

  input:focus ~ .slider {
    box-shadow: 0 0 1px #79d153;
  }

  input:checked ~ .slider:before {
    transform: translateX(26px);
  }

  input:checked + & {
    .slider {
      background-color: #6d843c;
    }
  }

  input:focus + & {
    .slider {
      box-shadow: 0 0 1px #79d153;
    }
  }

  input:checked + &.slider:before {
    transform: translateX(26px);
  }
}

