.modal {
    position: fixed;
    z-index: 800;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: #303134 !important;
  
    .room_info {
      position: relative;
      top: 100px;
      margin: auto;
      width: 80%;
      display: flex;
      flex-direction: column;
      color: #303134 !important;
      border-radius: 25px;
      width: 900px;
      min-height: 470px;
      background-color: #d9d9d9;
      animation: fadeIn 0.3s ease-in-out;
  
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
  
      &__close_btn {
        position: absolute;
        top: 20px;
        right: -15px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        color: #303134 !important;
        background-color: transparent;
        margin-right: 35px;
        cursor: pointer;
  
        &::after {
          content: url("./btn-x.svg");
        }

        span {
            font-weight: 500;
            color: #303134;  
        }
      }
  
      &__title {
        background-color: transparent;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        margin: 30px;

        p {
          background-color: #A9BABE;
          padding: 5px 15px;
          border-radius: 20px;
          box-shadow: inset 0 0 10px rgba(0,  0,  0,  0.5);
          font-weight: 400;
        }
      }
  
      &__questions {
        // min-height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 15px;
        margin: 30px;
        background-color: #171717 !important;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-bottom: 10px;
        // border-top: 2px solid #303134;
  
        p {
          margin-left: 10px;
          height: 40px;
          width: 690px;
          display: flex;
          align-items: center;
          background-color: #a8aab9;
          border: none;
          border-radius: 10px;
          padding: 0 15px;
          font-size: 18px;
          font-weight: 400;
        }
  
        h2 {
          margin: 10px 0 20px 10px;
          // margin-top: 20px;
          // margin-bottom: 10px;
          font-size: 24px;
          font-weight: 400;
        }
  
        .qa {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
  
          select {
            width: 90px;
            height: 40px;
            background-color: #424349 !important;
            border-radius: 25px;
            // border: 2px solid #dfe0e7;
            color: #d9d9d9;
            font-size: 18px;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            transition-duration: 0.5s;
            background: url("./select_arr.svg") no-repeat 10px center;
            padding-right: 20px;
            outline: none;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding-left: 35px;
          }
        }
      }
  
      &__btn {
        margin: 0 auto;
        margin-top: 20px;
        // width: 250px;
        width: 98%;
        height: 45px;
        // background-color: #424349;
        background-color: rgba(66,  67,  73,  0.25);
        border-radius: 10px;
        // border: 1px solid #dfe0e7;
        border: 2px solid #55565F;
        color: #d9d9d9;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        transition-duration: 0.5s;
        cursor: pointer;
  
        &:hover {
          background-color: #d9d9d9;
          color: #424349;
          transition-duration: 0.5s;
          border: 2px solid #424349;
        }
      }
  
      form,
      div,
      h3,
      label,
      select {
        background-color: transparent;
        color: #303134;
        font-weight: 400;
      }
    }
}