// .parties__list {
//   margin-top: 50px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;

//   .title {
//     width: 100%;
//     height: 310px;
//     display: flex;
//     flex-direction: column;
//     font-size: 135px;
//     // color: #DFE0E7;
//     font-weight: 800;
//     font-family: 'Montserrat', sans-serif;
//   }

//   .where {
//     text-align: right;
//     margin-right: 100px;
//     margin-bottom: -20px;
//   }

//   .togo {
//     text-align: left;
//     color: #A8AAB9;
//     margin-left: 100px;
//     background-color: transparent;
//   }

//   .filter__container {
//     width: 100%;
//     height: 100px;
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     gap: 20px;

//     p {
//         text-decoration: underline #7e7e7e;
//         text-underline-offset: 0.5em ;
//     }

//     select {
//         appearance: none;
//         -webkit-appearance: none;
//         -moz-appearance: none;
//         // background: transparent;
//         background: url('./Arr_select.png') no-repeat 175px center;
//         padding-right: 20px;
//         outline: none;
//         width: 200px;
//         height: 30px;
//         border-radius: 15px;
//         border: 1px solid #7e7e7e;
//         background-color: #303030;
//         font-size: 16px;
//         padding-left: 10px;
//     }
// }

// .all__parties {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-items: center;
//     gap: 20px;
//     margin: 30px 0;

//     .party__item {
//         width: 260px;
//         height: 468px;
    
//         img {
//             width: 260px;
//             height: 370px;
//             background-size: cover;
//             cursor: pointer;
//         }
    
//         .description {
//             margin-top: 20px;
//             width: 260px;
//             // height: 70px;
//             height: 90px;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;
//             text-align: left;
//             font-size: 16px;
//             border-bottom: 1px solid #7e7e7e;
//             margin-bottom: 5px;
    
//             p {
//                 font-size: 16px;
//                 color: #7e7e7e;
//                 margin: 5px 0 15px 0;
//             }
//         }
    
//         h4 {
//             margin-top: 5px;
//             font-size: 16px;
//             text-align: left;
//             font-weight: 400;
//             color: #A8AAB9;
//             cursor: pointer;
//         }
//     }
// }


//   .btn__container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     margin-top: 50px;
//     gap: 20px;

//     div {
//         padding: 5px;
//         width: 55px;
//         height: 55px;
//         border: 2px solid #55565F;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         cursor: pointer;
//         transition-duration: .5s;
//         &:hover {
//             background-color: #a86b02;
//             border: 2px solid #a86b02;
//             color: #171717;
//             transition-duration: .5s;
//         }
//     }
//   }
// }

.party_page {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
  gap: 50px;
  
  &__info {
    position: relative;
    width: 655px;
    height: 290px;
    border: 1px solid #7e7e7e;
    background-image: url('./event_img_example.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
        width: 655px;
        height: 290px;
        object-fit: cover;
    }
    
    button {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 220px;
        height: 45px;
        border: 1px solid white;
        font-size: 18px;
        font-weight: 400;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        transition-duration: .5s;
        cursor: pointer;
        
        &:hover {
            background-color: white;
            border: 1px solid rgb(0, 0, 0);
            color: black;
            transition-duration: .5s;
        }
    }
      
    .time_place {
        background-color: transparent;
        position: absolute;
        left: 15px;
        bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: start;
    }
    
    p {
        background-color: transparent;
        font-size: 16px;
        font-weight: 400;
    }
  }

  .findYours {
    position: absolute;
    top: 0;
    left: 55%;
  }

  .choose_room {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
    gap: 50px;

    h1 {
        position: relative;
        width: 72%;
        display: block;
        text-align: start;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 5px;

        &::after {
            content: '';
            position: absolute;
            left: 30;
            bottom: 15px;
            width: 100%;
            height: 2px;
            background-color: #52535F;
            margin-left: 20px;
        }
    }
  
}
    .rooms__container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        h5 {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 18px;
            font-weight: 400;
            margin-top: 50px;
            color: #426132;
            transition-duration: .5s;
            cursor: pointer;
            &::after {
                content: url('./login_icon.svg');
                // margin-top: 5px;
            }

            &:hover {
                // transform: scale(1.1);
                font-size: 20px;
                transition-duration: .5s;
            }
        }

        .item {
            width: 300px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            div {
                width: 150px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #636363;
                border-radius: 50%;
                box-shadow: inset 0 0 10px rgba(0,  0,  0,  0.5);
            }
        }
    }
}

