.user__card {
    width: 495px;
    height: 255px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    // padding: 0 10px;
    border: 1px solid #7e7e7e;
    border-radius: 20px;
    text-align: start;
    background-color: #55565F;

    &__img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-left: 10px;
        // background: url('./user_logo_example.png') no-repeat;
        // background-size: cover;
    }

    &__info {
        min-width: 210px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 30px;
    }

    &__name, &__email {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: #7e7e7e 1px solid;
        padding-bottom: 10px;
    }

    p {
        font-size: 12px;
        color: #7e7e7e;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }
    
    &__edit {
        background-color: #565659;
        width: 210px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 14px;
        color: #DFE0E7 !important;
        font-weight: 300;
        text-decoration: underline #DFE0E7;
        text-underline-offset: 0.5em;
        cursor: pointer;
        margin-top: 15px;

        &::before {
            margin-top: 8px;
            content: url('./user_icon.svg');
        }
    }
}
