.user__party__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    width: 260px;
    height: 330px;
    border: .5px solid #8D8D8D;
    transition-duration: .5s;

    &:hover {
        transform: translateY(-5px);
        transition-duration: .5s;
    }
    
    &__header {
        position: absolute;
        top: 5px;
        left: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;

        p {
            color: #EEEEEE;
            font-weight: 400;
        }

        span {
            // position: absolute;
            // top: 35px;
            // left: 10px;
            width: 140px;
            align-self: center;
            border: 1px solid #8D8D8D;
            border-radius: 10px;
            padding: 3px 15px 4px 15px;
            background-color: rgba(11,  11,  11,  0.79);
            color: #EEEEEE;
            font-weight: 400;
            display: flex;
        }

        img {
            position: absolute;
            top: 5px;
            right: 20px;
            transition-duration: .3s;
            background-color: black;
            background-size: contain;
            cursor: pointer;
            &:hover {
                transform: scale(1.3);
                transition-duration: .3s;
            }
        }
    }

    &__img {
        width: 260px;
        height: 275px;
        object-fit: cover;
    }

    &__footer {
        height: 55px;
        width: 100%;
        display: flex;
        align-items: center;
        border: .5px solid #8D8D8D;
        background-color: #3B2643;
        transition-duration: .5s;
        cursor: pointer;

        &:hover {
            box-shadow: inset  0  0  0  1000px rgba(0,  0,  0,  0.2);
            // background-color: #2F172F;
            transition-duration: .5s;
        }

        span {
            display: flex;
            align-items: center;
            margin-left: 15px;
            color: #EEEEEE;
            font-weight: 500;
            font-size: 20px;

            &::after {
                content: url('./chat_icon.svg');
                margin-left: 50px;
            }
        }
    }
}