.container {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    // font-family: 'Montserrat', sans-serif;

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        color: #DFE0E7;
        list-style-type: none;

        .nav {
            display: flex;
            gap: 60px;
            max-width: 1100px;
        }
    }

    .item {
        text-decoration: none;
        color: #DFE0E7;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            bottom: -5px;
            left:  50%;
            background-color: #727272;
            transform: translateX(-50%);
            transition: width  0.3s ease-in-out, opacity  0.3s ease-in-out;
          }
        
          &:hover::after {
            width:  100%;
            opacity:  1;
        }
    }

    .lk {
        color: #DFE0E7;
        position: relative;
        display: flex;
        justify-content: end;
        gap: 20px;

        &::after {
            content: '';
            position: absolute;
            width:  0;
            height:  1px;
            bottom:  -5px;
            left:  50%;
            background-color: #727272;
            transform: translateX(-50%);
            transition: width  0.3s ease-in-out, opacity  0.3s ease-in-out;
          }
        
          &:hover::after {
            width:  100%;
            opacity:  1;
        }

        span {
            display: flex;
            gap: 5px;
            cursor: pointer;
            &::after {
                content: url('./login_icon.svg');
            }
        }

        .nav__button {
            display: flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;
            &::after {
                content: url('./logout_icon.svg');
            }

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }
        }
    }

    button {
        margin-top: -10px;
        font-size: 18px;
        color: #DFE0E7;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        border: 1px solid #55565F;
        padding: 5px 40px 5px;
        background-color: transparent;
        cursor: pointer;
        transition-duration: .5s;
        &:hover {
            background-color: #a86b02;
            border: 1px solid #a86b02;
            color: #171717;
            transition-duration: .5s;
        }
    }
}