.container {
    margin-top: 100px;
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 100px;

    p {
        font-size: 40px;
        color: #DFE0E7;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }

    .about {
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: start;
        font-size: 20px;
        color: #DFE0E7;
        font-weight: 200;
        font-family: 'Montserrat', sans-serif;
        gap: 40px;
        background-color: #55565F;
        padding: 30px 70px;
    }

    .item {
        width: 370px;
        padding: 20px;
        background-color: transparent;
        border-left: 2px solid #DFE0E7;
        align-self: center;

    }

    span {
        font-weight: 400;
    }

    .item_center {
        width: 400px;
        padding: 20px;
        border-left: 2px solid #DFE0E7;
        align-self: center;
        text-align: center;
    }

    button {
        font-size: 28px;
        color: #DFE0E7;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        border: 2px solid #55565F;
        padding: 15px 70px 10px;
        margin-top: 20px;
        background-color: transparent;
        cursor: pointer;
        transition-duration: .5s;
        &:hover {
            background-color: #a86b02;
            border: 2px solid #a86b02;
            color: #171717;
            transition-duration: .5s;
        }
    }
}