.map__container {
  height: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  h1 {
    font-size: 135px;
    color: #dfe0e7;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }

  .content {
    margin-top: 60px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: start;

    .search {
      display: flex;
      flex-direction: column;
      text-align: start;
      gap: 40px;
      font-size: 18px;

      input {
        width: 300px;
        height: 45px;
        border: 1px solid #7e7e7e;
        padding-left: 10px;
        font-size: 18px;
        color: #7e7e7e;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
      }

      .search__results {
        margin-left: 40px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 30px;

        .on_map {
          margin-top: 10px;
          text-decoration: underline #7e7e7e;
          text-underline-offset: 0.5em;
          cursor: pointer;
        }
      }
    }
  }
}
