.map__container {
    height: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .map {
        position: relative;
        width: 760px;
        height: 500px;
        border: 1px solid #7e7e7e;

        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.45);
            z-index: 1;
            pointer-events: none;
        }
        ymaps {
            color: #000000 !important;
            font-weight: 500;
            font-size: 12px;
        }
    }

    h1 {
        font-size: 135px;
        color: #DFE0E7;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    .content {
        margin-top: 60px;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search {
            display: flex;
            flex-direction: column;
            text-align: start;
            gap: 40px;
            font-size: 18px;

            input {
                width: 300px;
                height: 45px;
                border: 1px solid #7e7e7e;
                padding-left: 10px;
                font-size: 18px;
                color: #7e7e7e;
                font-weight: 400;
                font-family: 'Montserrat', sans-serif;
            }

            .search__results {
                margin-left: 40px;
                font-size: 14px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                gap: 30px;

                .on_map {
                    margin-top: 10px;
                    text-decoration: underline #7e7e7e;
                    text-underline-offset: 0.5em;
                    cursor: pointer;
                }
            }
        }
    }

}
.map {
    position: relative;
    width: 760px;
    height: 500px;
    border: 1px solid #7e7e7e;
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.45);
        z-index: 10000000;
    }
}